@charset "utf-8";
/* CSS Document */

html, body {
    /*background-color: rgb(242, 240, 233);*/
	background-color: black;
	font-family: 'Inter', sans-serif;
    font-size: 90%;
    font-weight: normal;
    text-align: center;
	color:white;
	height: 100%;
}

#heads {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

#divcons {
	height: 100%;
}

#console {
	/*border: 1px solid #a52a2a;*/
	border-color: white;
	width: 100%;
	height: 80%;
	text-align: left;
	vertical-align: bottom;
}

#input {
	text-align: left;
}

.inputdesign {
	outline: none;
	border:none;
	background-color:navy;
	color: yellow;
	width: 100%;
	letter-spacing: 1px;
}

#helpus {
	color: gainsboro;
	font-weight: normal;
}

#hehe {
	color: chocolate;
}

#urldb {
	color: white;
	font-weight: normal;
}