<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
        <title>Library {{title}}</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>